@import "../../../../config-scss/rem-calc.scss";
$padding: rem-calc(20); //criando variavel no scss
:host {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--branco);
    height: rem-calc(100 - 40);
    margin-bottom: rem-calc(40);
    border-radius: rem-calc(10);
    border-bottom: 5px solid var(--primary-color);
    color: var(--primary-color);
  }
  .dragon {
    display: flex;
    align-items: center;
    background: var(--branco);
    height: rem-calc(100 - 40);
    margin-bottom: rem-calc(40);
    border-radius: rem-calc(10);
    border-left: 5px solid var(--primary-color);
    color: var(--primary-color);

    &__name {
      padding-left: 30px;
      width: 100%;
    }
    &__lista__vazia {
      padding-left: 2em;
    }

    &__buttons {
      // padding-right: 3rem;
      display: flex;

      &__btn {
        padding-right: 10px;
        color: var(--primary-color);
        background: var(--branco);
        &__deslogar{
          background: var(--branco);
          color: red;
        }

        &__deslogar:hover {
          padding-right: 10px;
          color: var(--cinza);
          background: var(--branco);
          cursor: pointer;
          span {
            border-bottom: 3px solid var(--cinza);
          }
        }
      }
      &__btn:hover {
        padding-right: 10px;
        color: var(--cinza);
        background: var(--branco);
        cursor: pointer;
        span {
          border-bottom: 3px solid var(--cinza);
        }
      }
    }
  }

}
