@import './config-scss/variables.scss';
@import './config-scss/reset.scss';
@import './config-scss/rem-calc.scss';
@import './config-scss/animation.scss';
// regular style toast
@import '~ngx-toastr/toastr';

html {
	font-family: 'Roboto', sans-serif;
	background: var(--secondary-color);
}

main {
	max-width: rem-calc(600);
	box-sizing: border-box;
	padding: 0 20px;
	margin: 0 auto;
	margin-top: 64px
}